@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:200,400,600');
*{
font-family:Questrial;
font-size: 20px;	
}
body{
-webkit-font-smoothing: antialiased;
}
#logo{
	position:fixed;
width: 100%;
padding-top:22px;
padding-bottom:0px;
text-align:center;	
background-color:white;
border-bottom:solid rgba(204,204,204,0.6) 1px;
z-index:100;
top:-7px;
}
#logo #logo1{ 
  /*width: 145px;*/
  width:250px;
  position:relative;
  right:27px;
}
#logo #mail{ 
  /*width: 145px;*/
  width:40px;
  float:left;
  position:relative;
  left:15px;
  bottom:-7px;
}
#title-line{
		line-height:0.1;
	border-bottom: solid rgb(204,0,0) 2px;	
	width:870px;
	margin:0 auto;
	margin-top:37px;
	margin-bottom:-42px;
}
#title{
	text-align:center;
width:200px;
margin:20px auto;	
margin-top: 22px;
background:white;
font-size:33px;
}
#title-wrap{
	width:100%;
position:relative;
top:180px;	
	    overflow-x: hidden; 
}
#main{
position:relative;
top:135px;	
width:100%;
text-align:center;
}
	#main ol{
	padding:0;	
	}
#main li{
	width:850px;
	text-align:left;
	list-style-type:none;
margin: 40px auto;	
font-size:20px;
line-height:25px;
letter-spacing:1px;
}

footer{
  position: absolute;
top: 600px;
width: 100%;
height: 200px;
text-align:center;
background-color:rgba(0,0,0,0.04);
left:0;
}
footer ol{
padding:0;	
}
footer li{
display:block;
color:black;
margin-bottom:25px;
}
.underline a{
	font-family:raleway;
	font-weight:700;
text-decoration:none;
color: rgba(0,0,0,0.9);
font-size:20px;
position:relative;
top:17px;
}
#copyright{
display:none;	
}
footer li:not(.underline){
display:none;
}
#footer2{
width:100%;
text-align:center;	
padding-bottom:50px;
position:relative;
top:570px;
}
#footer2 img{
width:200px;
margin-bottom:-20px;
}
#footer2 h3{
	font-weight:400;
font-size:13px;	
}

@media screen and (max-width: 1080px) {
	*{
	margin:0;	
	}
	#logo{
margin-top: 0px;
}
	#logo #logo1{
		width:220px;
	}
	#logo #mail{
		width:37px;
	}
#title{
font-size:30px;
}
#title-wrap{
top:150px;	
}
#all{
	position:relative;
top:25px;	
}
	#main li{
	width:85%;
margin: 30px auto;	
font-size:19px;
}
footer{
top: 4480px;
height:150px;
}
footer li{
margin-bottom:22px;
}
.underline a{
font-size:17px;
position:relative;
top:22px;
}
#copyright{
display:none;	
}
footer li:not(.underline){
display:none;
}
#footer2{
width:100%;
text-align:center;	
padding-bottom:40px;
position:absolute;
top: 4655px;	
}
#footer2 img{
width:150px;
margin-bottom:-2px;
}
#footer2 h3{
	font-weight:400;
font-size:10px;	
margin-bottom:34px;
}
#allfoot{
position:relative;
bottom:4190px;
}
}
@media screen and (max-width: 800px) {
	#logo{
margin-top: -14px;
margin-bottom:-7px;
}
#logo #mail{
		width:30px;
		top:11px;
	}
	#logo #logo1{
		width:190px;
		left:-18px;
		top:4px;
	}
	#title-wrap{
	top:120px;	
	}
	#title{
font-size:27px;
padding:0px;
}
#main{
top:100px;	
}
	#main li{
margin: 30px auto;	
font-size:16px;
line-height:22px;
letter-spacing:1px;
}
footer{
top: 4440px;
height:150px;
}
footer{
top: 3370px;
height:130px;
}
footer li{
margin-bottom:15px;	
}
#footer2{
	top:3520px;
	padding-bottom:0;
}
.underline a{
top:20px;
font-size:15px;
}
#allfoot{
position:relative;
top:-3200px;	
}
}