@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
*{
font-family:questrial;
font-size: 20px;	
}
body{
-webkit-font-smoothing: antialiased;
}
#logo{
	position:fixed;
width: 100%;
padding-top:15px;
padding-bottom:0px;
text-align:center;	
margin-top: 145px;
background-color:white;
border-bottom:solid rgba(204,204,204,0.6) 1px;
margin-bottom: 30px;
z-index:100;
}
#logo #logo1{ 
  /*width: 145px;*/
  width:270px;
  position:relative;
  right:23px;
}
#logo #mail{ 
  /*width: 145px;*/
  width:32px;
  float:left;
  position:relative;
  left:15px;
  bottom:-7px;
}


#title{
	font-weight: 300;
font-size: 30px;
letter-spacing:4px;
width: 100%;
text-align:center;
margin-top: 30px;
}

footer{
  position: absolute;
top: 4850px;
width: 100%;
height: 120px;
text-align:center;
background: rgba(27,29,31,0.9);
left:0;
}
footer ol{
 padding:0;
}


footer li{
	margin: 20px 5px;
	margin-bottom: 10px;
	margin-top: 2px;
display: inline-block;
font-size: 20px;
color: rgba(255,255,255,0.65);	
}
.underline a{
text-decoration:none;
color: rgba(255,255,255,0.65);	
}
.underline:hover{
text-decoration:underline;	
}
#copyright{
	font-size:16px;
	position:relative;
	top: 20px;
color: rgba(255,255,255,0.55);	
}
@media screen and (max-width: 1080px) {
	*{
	margin:0;	
	}
	#logo{
margin-top: -15px;
margin-bottom:-7px;
}
	#logo #logo1{
		width:222px;
	}
footer{
top: 4200px;
height:150px;
background-color:rgba(0,0,0,0.04);
}
footer li{
display:block;
color:black;
margin-bottom:22px;
}
.underline a{
	font-family:raleway;
	font-weight:700;
text-decoration:none;
color: rgba(0,0,0,0.9);
font-size:17px;
position:relative;
top:17px;
}
#copyright{
display:none;	
}
footer li:not(.underline){
display:none;
}
#footer2{
position:absolute;
width:100%;
text-align:center;	
padding-bottom:50px;
}
#footer2 img{
width:150px;
margin-bottom:2px;
}
#footer2 h3{
	font-weight:400;
font-size:10px;	
}
}
@media screen and (max-width: 750px) {
	#logo{
margin-top: -5px;
}
	.slider-wrapper {
	height: 250px;
}
	#logo #logo1{
		width:200px;
		left:-22px;
	}
footer{
top: 3300px;
}
#footer2{
	top:3500px;
}
.underline a{
top:18px;
}
#allfoot{
position:relative;
top:-2700px;	
}
}