@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:200,400,600');
*{	
font-family:Questrial;
font-size: 20px;	
	margin:0;
}
body{
-webkit-font-smoothing: antialiased;
}
#logo{
	position:fixed;
width: 100%;
padding-top:15px;
padding-bottom:0px;
text-align:center;	
margin-top: -15px;
background-color:white;
border-bottom:solid rgba(204,204,204,0.6) 1px;
margin-bottom: 30px;
z-index:100;
}
#logo #logo1{ 
  /*width: 145px;*/
  width:250px;
  position:relative;
  right:20px;
}
#logo #mail{ 
  /*width: 145px;*/
  width:40px;
  float:left;
  position:relative;
  left:15px;
  bottom:-7px;
}

.slider {
	width: 1024px;
	margin: 0 auto;
	margin-top: 15px;
	opacity: 1;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
.slider-wrapper img{
object-fit: cover;	
}


#title{
	font-family:Alegreya Sans SC;
	font-weight: 600;
font-size: 30px;
letter-spacing:4px;
width: 100%;
text-align:center;
margin-top: 30px;
}
#subtitle-wrap{
	margin-top: 10px;
width:100%;
}
#subtitle{
	font-weight: 300;
font-size: 18px;
line-height:20px;
letter-spacing:1px;
width: 1000px;
text-align:justify;
margin:0 auto;
}
#all{
position:relative;
top:66px;	
}
#all2{
	position:relative;
	top:-110px;
}
.heading-wrap{
	width:100%;
text-align:center;
}
.heading{
font-size:30px;	
width:290px;
margin:0 auto;
padding-bottom:10px;
margin-bottom: 130px;
border-bottom: solid rgba(153,0,51,1) 3px;
}
#main-text{
	width: 100%;
 margin-top:-150px;
}
.text{
	margin:150px auto;
	width:1000px;
	text-align:justify;
	line-height: 25px;
}
.three-boxes{
text-align:center;
margin-bottom:-50px;
}
.three-boxes ol li{
	padding: 120px 167.5px;
display:inline;	
margin: 1% 0.35%;
}
.three-boxes ol{
padding:0;	
}
a{
text-decoration:none;	
}
#set1{
margin-top: 200px;
}
#set1 #box1{
background: url("../images/lv/lv1.jpg") no-repeat center;
background-size:contain;
}
#set1 #box2{
background: url("../images/lv/lv2.jpg") no-repeat center;
background-size:contain;
}
#set1 #box3{
background: url("../images/lv/lv3.jpg") no-repeat center;
background-size:contain;
}
#set2 #box1{
background: url("../images/dolce/dolce1.jpg") no-repeat center;
background-size:contain;
}
#set2 #box2{
background: url("../images/dolce/dolce2.jpg") no-repeat center;
background-size:contain;
}
#set2 #box3{
background: url("../images/dolce/dolce3.jpg") no-repeat center;
background-size:contain;
}
#set3 #box1{
background: url("../images/prada/prada1.jpg") no-repeat center;
background-size:cover;
}
#set3 #box2{
background: url("../images/prada/prada2.jpg") no-repeat center;
background-size:cover;
}
#set3 #box3{
background: url("../images/prada/prada3.jpg") no-repeat center;
background-size:cover;
}
#set4 #box1{
background: url("../images/gucci/gucci1.jpg") no-repeat center;
background-size:cover;
}
#set4 #box2{
background: url("../images/gucci/gucci2.jpg") no-repeat center;
background-size:cover;
}
#set4 #box3{
background: url("../images/gucci/gucci3.jpg") no-repeat center;
background-size:cover;
}
#set5 #box1{
background: url("../images/ysl/ysl1.jpg") no-repeat center;
background-size:cover;
}
#set5 #box2{
background: url("../images/ysl/ysl2.jpg") no-repeat center;
background-size:cover;
}
#set5 #box3{
background: url("../images/ysl/ysl3.jpg") no-repeat center;
background-size:cover;
}
#set6 #box1{
background: url("../images/bottega/bottega1.jpg") no-repeat center;
background-size:cover;
background-position:0% 75%;
}
#set6 #box2{
background: url("../images/bottega/bottega2.jpg") no-repeat center;
background-size:cover;
background-position:0% 75%;
}
#set6 #box3{
background: url("../images/bottega/bottega3.jpg") no-repeat center;
background-size:cover;
background-position:0% 75%;
}
#set7 #box1{
background: url("../images/burberry/burberry1.jpg") no-repeat center;
background-size:cover;
}
#set7 #box2{
background: url("../images/burberry/burberry2.jpg") no-repeat center;
background-size:cover;
}
#set7 #box3{
background: url("../images/burberry/burberry3.jpg") no-repeat center;
background-size:cover;
}
#set8 #box1{
background: url("../images/givenchy/givenchy1.jpg") no-repeat center;
background-size:cover;
}
#set8 #box2{
background: url("../images/givenchy/givenchy2.jpg") no-repeat center;
background-size:cover;
}
#set8 #box3{
background: url("../images/givenchy/givenchy3.jpg") no-repeat center;
background-size:cover;
}
#set9 #box1{
background: url("../images/fendi/fendi1.jpg") no-repeat center;
background-size:cover;
}
#set9 #box2{
background: url("../images/fendi/fendi2.jpg") no-repeat center;
background-size:cover;
}
#set9 #box3{
background: url("../images/fendi/fendi3.jpg") no-repeat center;
background-size:cover;
}
#set10 #box1{
background: url("../images/kenzo/kenzo1.jpg") no-repeat center;
background-size:cover;
}
#set10 #box2{
background: url("../images/kenzo/kenzo2.jpg") no-repeat center;
background-size:cover;
}
#set10 #box3{
background: url("../images/kenzo/kenzo3.jpg") no-repeat center;
background-size:cover;
}
#set11 #box1{
background: url("../images/mcm/mcm1.jpg") no-repeat center;
background-size:cover;
}
#set11 #box2{
background: url("../images/mcm/mcm2.jpg") no-repeat center;
background-size:cover;
}
#set11 #box3{
background: url("../images/mcm/mcm3.jpg") no-repeat center;
background-size:cover;
}
span{
	position:relative;
	z-index:99;
	padding:5px;
	padding-left:11px;
	padding-right:5px;
	background:rgba(153,0,51,1);
	font-weight:800;
	font-size:30px;
color:white;
opacity: 0;
   transition: opacity .5s ease-in-out;
margin: 0px -85px;
}
#box3 span{
padding-right:11px;	
}
#box1:hover span,#box2:hover span,#box3:hover span{
	opacity:1;
}
footer{
  position: absolute;
top: 6150px;
width: 100%;
height: 200px;
text-align:center;
background-color:rgba(0,0,0,0.04);
left:0;
}
#set5 #box2{
background-position:0px 50%;
}
footer ol{
padding:0;
}
footer li{
color:black;
text-align:block;
	margin-bottom:25px;
}
.underline a{
	margin-bottom:10px;
	display:block;
	font-family:raleway;
	font-weight:700;
text-decoration:none;
color: rgba(0,0,0,0.9);
font-size:20px;
position:relative;
top:13px;
}
#copyright{
display:none;	
}
footer li:not(.underline){
display:none;
}
#footer2{
width:100%;
text-align:center;	
padding-bottom:70px;
position:relative;
top:300px;
}
#footer2 img{
width:200px;
margin-bottom:-10px;
}
#footer2 h3{
	font-weight:400;
font-size:13px;	
}
@media screen and (max-width: 1080px) {
	*{
	margin:0;	
	}
	#logo{
margin-top: -15px;
margin-bottom:-7px;
}
	#logo #logo1{
		width:220px;
	}
	#logo #mail{
		width:37px;
	}
	.slider{
	width:100%;
}
.slider-wrapper {
	width: 100%;
	height: 350px;
	position: relative;
	top:-10px;
}
#title-wrap{
	width:100%;
	text-align:center;
}
#title{
	margin:0 auto;
font-size: 25px;
letter-spacing:2px;
margin-top: 15px;
width:93%;
}
#subtitle-wrap{
	width:100%;
}
#subtitle{
width:90%;	
line-height:15px;
font-size:15px;
}
.heading{
font-size:30px;	
margin-bottom: 100px;
}
.text{
	margin:155px auto;
	width:90%;
	font-size:15px;
	line-height: 25px;
}
.three-boxes ol li{
	padding: 88px 16.2%;
margin: 0 0.3%;
}
span{
	position:relative;
	top:130px;
	z-index:99;
	padding:10px;
	padding-left:15px;
	padding-right:11px;
	background:rgba(153,0,0,0.9);
	font-weight:800;
	font-size:15px;
color:white;
opacity: 1;
margin: 0px -50px;
}
.weird-span{
padding-right:13px;
	
}
footer{
top: 4440px;
height:150px;
}
footer li{
margin-bottom:22px;
}
.underline a{
font-size:17px;
position:relative;
top:2px;
}
#copyright{
display:none;	
}
footer li:not(.underline){
display:none;
}
#footer2{
width:100%;
text-align:center;	
padding-bottom:30px;
position:absolute;
top: 4620px;	
}
#footer2 img{
width:150px;
margin-bottom:-2px;
}
#footer2 h3{
	font-weight:400;
font-size:10px;	
margin-bottom:5px;
}
#allfoot{
position:relative;
bottom:4450px;
}
}
@media screen and (max-width: 800px){
	#logo{
margin-top: -30px;
margin-bottom:-7px;
}
	.slider-wrapper {
	height: 250px;
	top:-20px;
}
	#logo #logo1{
		width:190px;
		left:-18px;
		top:5px;
	}
	#logo #mail{
		width:30px;
		top:12px;
	}
#title{
font-size: 20px;
margin-top: 15px;
}
#subtitle{
width:90%;	
line-height:15px;
font-size:12px;
}
.heading{
font-size:22px;	
margin-bottom: 80px;
border-bottom: solid rgba(153,0,51,1) 2px;
}
.text{
	margin:120px auto;
	width:90%;
	font-size:13px;
	line-height: 16px;
}
.three-boxes ol{
width:100%;	
}
.three-boxes ol li{
	padding: 66px 15%;
	/*padding: 66px 17.3%;*/
margin: 0 0.4%;
}
.three-boxes{
margin-bottom:-60px;	
width:100%;
}
span{
	position:relative;
	top:100px;
	padding:5px;
	font-size:13px;
	padding-left:10px;
}
.weird-span{
padding-right:10px;	
}
#all{
top:57px;	
}
#all2{
top:-150px;	
}
footer{
top: 3370px;
height:130px;
}
footer li{
margin-bottom:15px;	
}
#footer2{
	top:3530px;
}
.underline a{
top:-2px;
margin-bottom: 0px;
font-size:15px;
}
#allfoot{
position:relative;
top:-3380px;	
}

}
@media screen and (max-width: 480px){
.three-boxes ol li{
	padding: 66px 18.5%;
margin: 0 0.4%;
}
}